<% provide(:title, 'About') %>



<% if  I18n.locale == :en %>

<body id="about-page", class="about">

<div class="statement">
      <h2 class="statement">We are E-Kall Tower Company.</h2>
      <p class="statement">Established in 2007 by engineering and construction management experts in response to Iraq's unprecedented economic growth.</p>
  </div>
</body>

<%else%>
<body id="about-page", class="about">

<div class="statement-ar">

      <h2>نحن شركة برج إيكال.  </h2>
      <p>

      	تأسست في عام ٢٠٠٧ من قبل خبراء في الهندسة وإدارة الإنشاءات في استجابة للنمو الإقتصادي غير المسبوق في العراق.
      </p>

  </div>
</body>

<%end%>

<% content_for :section do %>
<% render 'layouts/about' %>
<%end%>
