<% provide(:title, 'About') %>
<body id="about-page">

<div class="statement">
	<div id="shadow">
      <h2 class="statement">We are E-Kall Tower Company.</h2>
      <p class="statement"><span>Established in 2007 by engineering and construction management experts in response to Iraq's unprecedented economic growth.</span></p>
    </div>
  </div>
</body>

<div class="white-section">
<% provide(:page, 'this is the about page white section') %>
</div>


<!-- <div class="statement" id="about-statement">
<h2>About the company</h2>
</div>

<span class="statement-p">
<p>In  2003  a  young  ambitious  man,  <a href="#">Omer Abood</a>,  graduated  engineering  college  in  Baghdad,  Iraq  with  a  dream  to  create  his  own  construction  company.  2003  brought  joy,  despair  and  hardships  for  not  only  this  fresh  collage  graduate  but  the  country  of  Iraq  as  well.  Within  these  hardships  also  came  opportunity.    As  the  US  military  started  to  enter  Iraq,  so  did  the  opportunity  for  many  construction  projects.  Omer  and  a  partner  opened  a  company  by  the  name  of  Golden  Flower  General  Trading  Company  where  he  provided  procurement  and  small  construction  projects  for  the  US  military  and  some  other  overseas  contracting  companies. In the beginning of 2007 Omer and his business partner decided to go separate  ways. It was at that time that Omer started EKKall Tower Company. E, meaning “Great” and  Kall  meaning  “Building”  in  old  Sumerian  language,  EKKall  put  together  “Great  Building”  was  the  perfect  name  for  his  construction  company.    So  in  2008  he  created  the  construction  company.</p></span> -->



