<% provide(:title, 'About') %>
<body id="about-page", class="about">

<div class="statement">
	<div id="shadow">
      <h2 class="statement">We are E-Kall Tower Company.</h2>
      <p class="statement"><span>Established in 2007 by engineering and construction management experts in response to Iraq's unprecedented economic growth.</span></p>
    </div>
  </div>
</body>

<% content_for :section do %>
<% render 'layouts/about' %>
<%end%>
