<% provide(:title, 'Contact') %>
<body id="contact-page">

	<% provide(:page, 'this is the contact page white section this is the contact page white section this is the contact page white section this is the contact page white section this is the contact page white section this is the contact page white section this is the contact page white section this is the contact page white section') %>

<div class="statement">
	<div id="shadow">
      <h2 class="statement">We look forward to hearing from you.</h2>
      <p class="statement"><span>How we can help you with your general building or construction management project?</span></p>
    </div>
  </div>
 

<!-- 
<div class="statement" id="contact-statement">
   <h2>Contact Us!</h2>
</div>

<span class="statement-p"><p>E-Kall Tower Company is dedicated to answering your 
questions about our services. We look forward to hearing from you.</p></span>


<div class="statement" id="owner">
	<h3>Owner</h3>
	<p><a href="#">Omer Abood</a></p>
	<div id="phone">
	  &#9742 +947.770.700.0200
    </div>
</div>

<div class="statement" id="gm">
	<h3>General Manager</h3>
	<p><a href="#">Erica Dollar</a></p>
	<div id="phone">
	  &#9742 +947.662.641.570
	</div>
</div>

<div class="statement" id="email">
	<p>Contact the company directly via email:</p>
	&#9993 <a href="mailto:info@e-kalltower.com">info@e-kalltower.com</a>
</div> -->
</body>
</html>







