<% provide(:title, 'Contact') %>

<% if  I18n.locale == :en %>

<body id="contact-page", class="contact">
<div class="statement">
	<div id="shadow">
      <h2 class="statement">Let's get to work.</h2>
      <p class="statement"><span>How can we help you with your general building or construction management project?</span></p>
    </div>
  </div>
  <%else%>

  <body id="contact-page", class="contact-arabic">
  <div class="statement-ar">
  	
        <h2 class="statement-contact-ar">دعونا نبدأ العمل</h2>
        <p class="statement-contact-ar"><span>  كيف يمكننا مساعدتك في البناء العام الخاص بك أو إدارة المشروع؟</span></p>
     
    </div>
	
	<%end%>
 
<% content_for :section do %>
<% render 'layouts/contact' %>
<%end%>
<!-- 
<div class="statement" id="contact-statement">
   <h2>Contact Us!</h2>
</div>

<span class="statement-p"><p>E-Kall Tower Company is dedicated to answering your 
questions about our services. We look forward to hearing from you.</p></span>


<div class="statement" id="owner">
	<h3>Owner</h3>
	<p><a href="#">Omer Abood</a></p>
	<div id="phone">
	  &#9742 +947.770.700.0200
    </div>
</div>

<div class="statement" id="gm">
	<h3>General Manager</h3>
	<p><a href="#">Erica Dollar</a></p>
	<div id="phone">
	  &#9742 +947.662.641.570
	</div>
</div>

<div class="statement" id="email">
	<p>Contact the company directly via email:</p>
	&#9993 <a href="mailto:info@e-kalltower.com">info@e-kalltower.com</a>
</div> -->
</body>
</html>







