<% provide(:title, 'Home') %>

<body id="home-page">


<div class="statement">
	<div id="shadow">
      <h2 class="statement">The highest standards in construction.</h2>
      <p class="statement"><span>We strive to provide the best service possible, with the highest regards to quality, worker safety, and client satisfaction.</span></p>
    </div>
  </div>
</body>

