<% provide(:title, 'Home') %>

<body id="home-page">


<div class="statement">
	<div id="shadow">
      <h2 class="statement">Welcome to E-Kall Tower Company</h2>
      <p class="statement">We strive to provide the best service possible, with the highest regards to quality, workers safety and clients satisfaction. <a href="/contact">Contact us Now!</a></p> 
      <br> 
    </div>
  </div>
</body>