<% provide(:title, 'Home') %>

<body id="home-page">


<div class="statement">
      <h2 class="statement">Welcome to E-Kall Tower Company</h2>
      <p class="statement">We strive to provide the best service possible, with the highest regards to quality, workers safety and clients satisfaction. <a href="/contact">Contact us Now!</a></p> 
      <br>
      <br>
      <p class="statement">To get more information about the company and its previous work, please have a look at our <a href="https://app.box.com/s/q1vnqyrarj6mqovhqdks" target="_blank">brochoure</a></p> 
      
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</body>