<% provide(:title, 'Home') %>


<% if  I18n.locale == :en %>

<body id="home-page" , class="home">

    <div class="statement-en">
          <h2>The highest standards in construction.</h2>
          <p>We strive to provide the best service possible, with the highest regards to quality, employee safety, and client satisfaction.</p>
    </div>
</body>

<%else%>

<body id="home-page" , class="home">

<div class="statement-ar">

      <h2>أعلى المعايير في مجال البناء.</h2>
      <p >
		  نحن نسعى جاهدين لتقديم أفضل خدمة ممكنة، وفقا لأعلى جودة و ضمان سلامة الموظفين، ورضى العميل.

     </p>

  </div>
</body>

<%end%>


