<% provide(:title, 'Home') %>


<% if  I18n.locale == :en %>

<body id="home-page" , class="home">

<div class="statement">
	<div id="shadow">
      <h2 class="statement">The highest standards in construction.</h2>
      <p class="statement"><span>We strive to provide the best service possible, with the highest regards to quality, employee safety, and client satisfaction.</span></p>
    </div>
  </div>
</body>

<%else%>

<body id="home-page" , class="home">

<div class="statement statement-arabic">
	<div id="shadow">
      <h2 class="statement statement-arabic">أعلى المعايير في مجال البناء</h2>
      <p class="statement statement-arabic"><span>نحن نسعى جاهدين لتقديم أفضل خدمة ممكنة، وفقا لأعلى جودة و<br> ضمان سلامة الموظفين، ورضا العميل</span></p>
    </div>
  </div>
</body>

<%end%>


