<% provide(:title, 'Home') %>

<body id="home-page">


<div class="statement">
      <h2 class="statement">Welcome to E-Kall Tower Company</h2>
      <p class="statement">We strive to provide the best service possible, with the highest regards to quality, workers safety and clients satisfaction. <a href="/contact">Contact us Now!</a></p>  
</div>


<div class="statement" >
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

</body>