<% provide(:title, 'Michanical Engineering') %>

<body id="michanical-page">

<div class="statement" id="about-statement">


</br>
</br>
</br>

</br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


</br>




</div>








	
</div>



</br>
</br>
</br>

</br>

</br>


</br>




</div>















