<% provide(:title, 'Mechanical Engineering') %>


<body id="home-page">

<div class="statement">
      <h2 class="statement">Welcome to E-Kall Tower Company</h2>
      <p class="statement">We strive to provide the best service possible, with the highest regards to quality, workers safety and clients satisfaction. <a href="/contact">Contact us Now!</a></p>  
</div>


</br>
</br>

</br>
</br>
</br>

</body>



