<% provide(:title, 'Projects') %>



<body id="projects-page" , class="project res-statement">


<% if  I18n.locale == :en %>

	<div class="statement ">

      <h2 class="statement">We operate in Kurdistan and Greater Iraq.</h2>
      <p class="statement"><span>Government<br>International<br>Private Sector<br></span></p>

  </div>
  <div class="projects-gap"></div>
  
</body>

<%else%>

  <div class="statement-ar res-statement" style="font-size: 1em !important;">

      <h2>نعمل في كردستان والعراق.</h2>
      <p>القطاع العام <br> دولي <br> القطاع الخاص</p>

  </div>
</body>

<%end%>



<% content_for :section do %>
<% render 'layouts/projects' %>
<%end%>






