<% provide(:title, 'Projects') %>
<body id="projects-page">

	<div class="statement">
	<div id="shadow">
      <h2 class="statement">We operate in Kurdistan and Greater Iraq.</h2>
      <p class="statement"><span>Government<br>International<br>Private Sector<br></span></p>
    </div>
  </div>
</body>

<% content_for :section do %>
<% render 'layouts/projects' %>
<%end%>

<script>
$(document).ready(function(){
$( "h3, span" ).click(function() {
  $(this).next('p').toggle();
  });


});
</script>




