<% provide(:title, 'Projects') %>
<body id="projects-page">

<div class="statement-projects">
    <h2>Company's Previous Projects</h1>
</div>

<div class="projects">

	<h3>Sulymaniah,	Iraq–Zirguez</h3>

	<p>Zirguez	is	located	approximately 20 kilometers	out	of the <a href="http://en.wikipedia.org/wiki/Sulaymaniyah" target="_blank">city of Sulymaniah</a>. The project	consists of the	construction of	1,500 each broken down to different	subcontractors.	We were awarded	48 total houses. The quality of the building is	all	top	of the	line, and best craftsmanship above all of the other competitors.</p>

	<h3>Sulymaniah,	Iraq–Tishknet-Supplyand	set up gas fire system</h3>

		
	<p>Set up a	non-toxic, non-destructive and non-water fire extinguishing	system for an internet company.	This system	releases a gas called FM200	to extinguish the flame	without	damaging any electronics.</p>

	<h3>Sulymaniah,	Iraq – Ministry	of Defense/Construction	– 4	Building Projects</h3>


	<p>Project 1 (D3): Construction	of a Fuel control housing area.</p>


	<h3>Sulymaniah,	Iraq- Court	house –	HVAC System</h3>

	<p>Set up 4, 350ton	HVAC units,	with full piping’s,	supply and return pumps, to	include	fire fighting system and domestic water	system.</p>

	<h3>Sulymaniah, Iraq – Dyncorp#International – Steel structure Gym </h3>

	<p>Erection of a 200sqm steel structure gym.</p>

	<h3>Baghdad, Iraq – Victory Base Center – ECCI – Motor Pool </h3>
	<p>Description: Erection of steel structure, sandwich panel and roll up garage doors.</p>

</div>

<br>
<br>

<br>
<br>


