<% provide(:title, 'Projects') %>
<body id="projects-page">

<div class="statement-projects">
    <h2>Company's Previous Projects</h1>
</div>

<div class="projects">



	<h3><a onclick="document.getElementById('content1').style.display=(document.getElementById('content1').style.display=='none')?'block':'none';">Sulymaniah, Iraq–Zirguez</a></h3>
	<div id='content1' style='display: none;'>

	<p>Zirguez	is	located	approximately 20 kilometers	out	of the <a href="http://en.wikipedia.org/wiki/Sulaymaniyah" target="_blank">city of Sulymaniah</a>. The project	consists of the	construction of	1,500 each broken down to different	subcontractors.	We were awarded	48 total houses. The quality of the building is	all	top	of the	line, and best craftsmanship above all of the other competitors.</p>

    </div>

	<h3><a onclick="document.getElementById('content2').style.display=(document.getElementById('content2').style.display=='none')?'block':'none';">Sulymaniah,	Iraq–Tishknet-Supplyand	set up gas fire system</a></h3>

	<div id='content2' style='display: none;'>	
	<p>Set up a	non-toxic, non-destructive and non-water fire extinguishing	system for an internet company.	This system	releases a gas called FM200	to extinguish the flame	without	damaging any electronics.</p>
    </div>

	<h3><a onclick="document.getElementById('content3').style.display=(document.getElementById('content3').style.display=='none')?'block':'none';">Sulymaniah,	Iraq – Ministry	of Defense/Construction	– 4	Building Projects</a></h3>

	<div id='content3' style='display: none;'>	
	<p>Project 1 (D3): Construction	of a Fuel control housing area.</p>
    </div>

	<h3><a onclick="document.getElementById('content4').style.display=(document.getElementById('content4').style.display=='none')?'block':'none';">Sulymaniah,	Iraq- Court	house –	HVAC System</a></h3>

	<div id='content4' style='display: none;'>	
	<p>Set up 4, 350ton	HVAC units,	with full piping’s,	supply and return pumps, to	include	fire fighting system and domestic water	system.</p>
    </div>

	<h3><a onclick="document.getElementById('content5').style.display=(document.getElementById('content5').style.display=='none')?'block':'none';">Sulymaniah, Iraq – Dyncorp#International – Steel structure Gym </a></h3>

	<div id='content5' style='display: none;'>	
	<p>Erection of a 200sqm steel structure gym.</p>
    </div>

	<h3><a onclick="document.getElementById('content6').style.display=(document.getElementById('content6').style.display=='none')?'block':'none';">Baghdad, Iraq – Victory Base Center – ECCI – Motor Pool </a></h3>

	<div id='content6' style='display: none;'>	
	<p>Description: Erection of steel structure, sandwich panel and roll up garage doors.</p>
    </div>

<br>
<br>

<br>
<br>


