<% provide(:title, 'Services') %>



<% if  I18n.locale == :en %>


<body id="services-page" , class="service res-statement">


<div class="statement ">

      <h2 class="statement">More than just construction management.</h2>
      <p class="statement"><span>Civil Engineering<br>Electrical Engineering<br>Mechanical Engineering<br>Combinatorial Engineering</span></p>

  </div>
</body>
</div>

<%else%>

<body id="services-page" , class="service">


<div class="statement-ar res-statement">
        <h2>أكثر من مجرد إدارة إنشاءات.</h2>
        <p>الهندسة المدنية<br>الهندسة الكهربائية<br>الهندسة الميكانيكية<br>الهندسة المشتركة</p>
</div>
</body>

<%end%>

<% content_for :section do %>
<% render 'layouts/services' %>
<%end%>

