<% provide(:title, 'Structural Engineering') %>
<body id="structure-page">

<div class="statement" id="about-statement">


<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





</div>








	
</div>



</br>
</br>
</br>

</br>

</br>


</br>




</div>















