<div style="float: left; width: 33%;">
<h2>Origins</h2>
<p>E-Kall is "Great Building" in Sumerian, the ancient Mesopotamian language.</p>

<p>We initially managed procurement and small construction projects for the US military post 2003.</p>

<p>In 2007, we shifted our focus to general building and construction management for both the public and private sectors across Iraq.</p>
</div>

<div style="float: left; width: 33%;">
<h2>Leadership</h2>
<p><strong>Omer Abood</strong><br>
	Owner-Operator</p>
	<p><em>graduate of the University of Baghdad's Department of Engineering</em></p>

	<p><strong>Erica Dollar</strong><br>
		General Manager</p>
		<p><em>extensive background in construction management projects across Iraq and Afghanistan</em></p>
</div>

<div style="float: left; width: 33%;">
<h2>Who We Are</h2>
<p>We are owned and operated by a team of American and Iraqi engineers and construction management experts.</p>
<p>The biggest clients in Iraq trust us with their construction projects: the US military, the Kurdistan Regional Government, and one of the largest housing developers in the country.</p>
</div>