<div class="about-container">

<div class="about-columns">
	<h2>Who We Are</h2>
	<p>We are owned and operated by a team of American and Iraqi engineers and construction management experts.</p>
	<p>The biggest clients in Iraq have trusted us with their construction projects: the US military, the Kurdistan Regional Government, and Dyncorp International.</p>
</div>

<div class="about-columns">
<h2>Origins</h2>
<p>E - Kall ( <%=image_tag("E.png", :size => "20x16", :alt => 'E') %><%=image_tag("KAL.png", :size => "22x16", :alt => '-Kal') %> ) is "Great Building" in <a href="http://en.wikipedia.org/wiki/Sumerian_language" target="_blank">Sumerian</a>, an ancient Mesopotamian language.</p>

<p>We initially managed procurement and small construction projects for the US military post 2003.</p>

<p>In 2007, we shifted our focus to general building and construction management for both the public and private sectors across Iraq.</p>
</div>

<div class="about-columns">
<h2>Leadership</h2>
<div class="leadership-roles">
<h2>Omer Abood<br>
	<span>Owner-Operator</span></h2>
	<p>graduate of the University of Baghdad's Department of Engineering</p>

	<h2>Erica Dollar<br>
		<span>General Manager</span></h2>
		<p>extensive background in construction management projects across Iraq and Afghanistan</p>
</div>
</div>
</div>