<div class="contact-container">

<div style="float: left; width: 38%;">
<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zNOAiz1ibKKI.kSJXRaeUsNPc" width="425" height="280"></iframe>
</div>

<div style="float: left; width: 50%;" class="facebook">
	<br>
	<p>Arbil | Sulaimaniyah | Baghdad</p>
	<h2>Email Us</h2>
	<p id="mail"><a href="mailto:info@e-kalltower.com">info@e-kalltower.com</a></p>
	<h2>Call Us</h2>
	<p>+964.770.700.0200</p>
</div>

</div>

