<div class="projects-container">
	<div style="float: left; width: 33%;">
		<h2>Government</h2>
			<h3 id="pro">Ministries of Defense, Housing/Construction<br>
			<span>Sulaimaniyah</span>
			</h3>
				<p style="display:none">
					Constructed the following:<br><br>
					Fuel control housing area<br>
					Steel warehouse structure<br>
					Fuel station for large trucks<br>
					<br>

			<a class="fancybox" rel="gallery1" href="<%= asset_path( '1.jpg' ) %>" title="zergez">
				<img src="<%= asset_path( '1.jpg' ) %>" height="42" width="42" alt="">
			</a>
			<a class="fancybox" rel="gallery1" href="<%= asset_path( '2.jpg' ) %>" title="zergez">
				<img src="<%= asset_path( '2.jpg' ) %>" height="42" width="42" alt="">
			</a>

			</p>
	
			<h3>Kurdistan Region Courthouse<br>
			<span>Sulaimaniyah</span>
			</h3>
  				<p style="display:none">
  					Installed the following:<br><br>
					Four 350-ton HVAC units with full piping, supply, and return pumps<br>
					Fire-fighting and domestic water systems
				</p>

			<h3>Ministry of Housing and Construction<br>
			<span>Zirguez</span>
			</h3>

				<p style="display:none">
				Constructed 48 houses as part of the Ministry's program to develop 1,500 new houses in the area
				</p>

	</div>

	<div style="float: left; width: 33%;">
		<h2>International</h2>

			<h3>United States Military<br>
			<span>Baghdad</span>
			</h3>

				<p style="display:none">
				Erected a steel structure, sandwich panel and roll up garage doors for a motor pool at the Victory Base Center
				</p>

			<h3>Dyncorp International<br>
			<span>Sulaimaniyah</span>
			</h3>
				<p style="display:none">
				Erected a 200sqm steel structure gym
				</p>

	</div>

		<div style="float: left; width: 33%;">
		<h2>Private Sector</h2>

			<h3>Tishknet<br>
				<span>Sulaimaniyah</span>
			</h3>

				<p style="display:none"> 
					Installed a	non-toxic, non-destructive, and non-aqueous fire extinguishing	system for an internet company; system releases a gas called FM200 to extinguish the flames without damaging electronics</p>

	</div>
</div>


