<div class="projects-container">

<div style="float: left; width: 33%;">
<h2>Government</h2>
<h3>Ministries of Defense and Construction</h3>
<span>Sulaimaniyah</span>
	
	<p style="display:none">Constructed the following:</p>
	<p style="display:none">Fuel control housing area<br>
	Steel warehouse structure<br>
	Fuel station for large trucks</p>

<h3>Kurdistan Region Courthouse</h3>
<span>Sulaimaniyah</span>	
<p style="display:none">Installed four, 350-ton HVAC units with full piping, supply, and return pumps</p>
<p style="display:none">Installed fire-fighting and domestic water systems</p>

<h3>Ministry of Housing and Construction</h3>
<span>Zirguez</span>
<p style="display:none">Constructed 48 houses as part of the Ministry's program to develop 1,500 new houses in the area</p>

</div>

<div style="float: left; width: 33%;">
<h2>International</h2>

<h3>United States Military</h3>
<span>Baghdad</span>
<p style="display:none">Erected a steel structure, sandwich panel and roll up garage doors for a motor pool at the Victory Base Center</p>

<h3>Dyncorp International</h3>
<span>Sulaimaniyah</span>
<p style="display:none">Erected a 200sqm steel structure gym</p>

</div>

<div style="float: left; width: 33%;">
<h2>Private Sector</h2>

<h3>Tishknet</h3>
<span>Sulaimaniyah</span>
<p style="display:none">Installed a	non-toxic, non-destructive, and non-aqueous fire extinguishing	system for an internet company; system releases a gas called FM200 to extinguish the flames without damaging electronics</p>

</div>

</div>

