<% if  I18n.locale == :en %>


<div class="services-container">
<div style="float: left; width: 15%;">
<h3>Civil Engineering</h3>
<ul>
	<li>construction</li>
	<li><span>housing</span></li>
	<li><span>steel structures</span></li>
	<li>pipelines</li>
	<li>concrete</li>
</div>

<div style="float: left; width: 18%;">
<h3>Electrical Engineering</h3>
<ul>
<li>high tension power</li>
<li>low tension power</li>
<li>panel boards</li>
<li>street light poles</li>
<li>fire alarm systems</li>
</ul>
</div>

<div style="float: left; width: 20%;">
<h3>Mechanical Engineering</h3>
<ul>
<li>HVAC systems</li>
<li>fire fighting systems</li>
<li>electromechanical work</li>
</ul>
</div>

<div style="float: left; width: 20%;">
<h3>Combinatorial Engineering</h3>
<ul>
<li>communications towers</li>
</ul>
</div>

<div style="float: left; width: 20%;">

 

<h3>Ecological engineering</h3>
<ul>
<li>green building</li>
<li>solar power</li>
<li>photovoltaic systems</li>
</ul>
</div>

<div style="float: left; width: 60%;" class="services-contact-us">
<br>
<br>
<p>Please <a href="/contact">contact us</a> to find out more about our other construction management services.</p>
</div>
</div>

<%else%>



<div class="services-container services-container-arabic">
<div style="float: right; width: 25%;">
<h3>الهندسة المدنية</h3>
<ul id="span-ar">
	<li>بناء وأنشائات</li>
	<li>تركيب المباني الحديدية</li>


	<!-- <li><span>الإسكان</span></li>
	<li><span>هياكل الصلب</span></li> -->
	<!-- <li>خطوط الأنابيب</li>
	<li>أسمنت</li> -->
</div>

<div style="float: right; width: 25%;">
<h3>الهندسة الكهربائية</h3>
<ul>
<li>الطاقة عالية التوتر</li>
<li>الطاقة منخفضة التوتر</li>
<li>لوحة التوزيع الكهربائية</li>
<li>أعمدة إنارة الشوارع</li>
<li>أنظمة إنذار الحريق</li>
</ul>
</div>

<div style="float: right; width: 25%;">
<h3>الهندسة الميكانيكية</h3>
<ul>
<li id="services-HVAC">نظم <span>HVAC</span></li>
<li>أنظمة مكافحة الحرائق</li>
<li>العمل الكهروميكانيكية</li>
</ul>
</div>

<div style="float: right; width: 25%;">
<h3>الهندسة المشتركة</h3>
<ul>
<li>أبراج الإتصالات</li>
</ul>
</div>

<div style="float: right; position: absolute; width: 40%;" class="services-contact-us services-contact-us-arabic ">
<p>.من فضلك <a href="/ar/contact">إتصل بنا</a> لمعرفة المزيد عن خدماتنا </p>
</div>
</div>



<%end%>